version: "2"
services:

 flink-master:
   image: bde2020/flink-master
   hostname: flink-master
   container_name: flink-master
   environment:
      - INIT_DAEMON_STEP=setup_flink
      - "constraint:node==flink-worker"
   ports:
     - "8080:8080"
     - "8081:8081"

 flink-worker:
   image: bde2020/flink-worker
   hostname: flink-worker
   container_name: flink-worker
   environment:
      - FLINK_MASTER_PORT_6123_TCP_ADDR=172.19.0.2
      - "constraint:node==flink-master"
   depends_on:
      - "flink-master"

 zeppelin:
   image: dylanmei/zeppelin:0.7.0
   environment:
     - ZEPPELIN_PORT=8888
   depends_on:
     - flink-master
     - flink-worker
   links:
     - flink-master:flink
   ports:
     - "8888:8888"
